header {
  background-color: #186CA3;
  color: white;
  padding: 1%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-block {
    background-color: gray;
    width: 20%;
    height: 100vh;
    color: white;
    padding: 5%;
}

.task-container {
    background-color: white;
    width: 70%;
    padding: 2%;
}

.addboard-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.addboard-button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
}

.project-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}

.project-card {
    background-color: gray;
    color: white;
    width: 30%;
    margin: 10px 0;
    padding: 2%;
    border-radius: 5px;
}

.board-block {
    padding: 1%;
    margin-top: 20px;
}

@media (max-width: 400px) {
    .project-card { 
        width: 45%;
    }
}
